@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.notas{
    width: 100%;
    height: 100vh;
    background: #f0f0f0;
}

.notas__container{
    display: flex;
    justify-content: center;

}

.notas__title{
    padding: 30px 30px;
}

.notas__paragraph{
    font-size: 1.5rem;
}

.notas__cuadro{
    display: flex;
    /* resize: none; */
    width: 350px;
    height: 120px;
    justify-content: center;
    border: 2px solid black;
    border-radius: 16px;
    gap: 30px;
    padding: 15px;
    font-size: 1.5rem;
    color: #b0acac;
    
}

.notas__create{
    justify-content: center;
    /*  */
    padding: 10px 130px;
    margin: 10px;
    border-radius: 15px;
    background-color: #4F4F4F;
    color: #f0f0f0;
    font-size: 1.5rem;
    border: none;
    font-weight: bold;
}

.notas__view{ 
    justify-content: center;
    width: 50%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;   
    grid-template-columns: repeat(2,1fr) ;
}

.notas__edit{
    display: grid;
    grid-template-columns: repeat(3 ,1fr);
    grid-template-rows: repeat(3 ,1fr);
    width: 300px;
    height: 120px;
    border: 2px solid black;
    border-radius: 20px ;
    margin: 15px;
    background: white;
    padding: 10px;
}

.notas__delete{
    /* border: 1px solid red; */
    grid-column: 3/4;
    grid-row: 3/4;
    display: flex;
    justify-content: center;
}
.delete__item{
    width: 100%;
    color: black;
    border-radius: 10px;
    grid-column: 4/-1;
    box-shadow: none;
    font-size: 1rem;
    color: #4F4F4F;
    border-radius: 30px;
    border: none;
    font-weight: bold;
}

